---
layout: default
title: 'JavaScript: Getting down to business'
---

<p>
  To get started, create an account on <a href="http://jsbin.com/">JSBin</a>. I recommend connecting it to your Github account so it's easy for you to access later. You'll be writing all of your JavaScript code in JSBin and saving it to review later.
</p>

<p>
  <strong>Tests are required</strong> for your code to be reviewed. JavaScript tests can be written in <a href="{{ site.baseurl }}{% post_url 2014-03-24-setting-up-qunit %}">Qunit</a>. We will cover other methods for writing JavaScript tests later.
</p>

<strong>Before you begin...</strong>

<p>
  You need to be familiar with:
</p>

<ul>
  <li>HTML and HTML5 semantic elements</li>
  <li>CSS and CSS3 basics</li>
  <li><a href="http://www.codecademy.com/glossary/javascript">JavaScript syntax and data structures</a></li>
  <li>jQuery</li>
</ul>

<p>
  I don't expect you to know everything, but you should be comfortable enough with those things that you know where to go to look stuff up. If you're not, complete the <a href="http://www.codecademy.com/tracks/javascript">JavaScript</a> (the whole thing), <a href="http://www.codecademy.com/tracks/web">HTML, and CSS</a> tracks on Codecademy. I would also suggest that you read <a href="http://eloquentjavascript.net/contents.html">Eloquent JavaScript</a> (chapters 1-4).
</p>

<h2 class="border-bottom">Exercises</h2>

<strong>Week 1</strong>

<p>
  We start off by building a strong foundation that goes a bit beyond the basics of JavaScript. We focus very heavily on testing for every week beyond this, so be sure to do lots of practice with testing.
</p>

<ul class="posts">
  {% for post in site.categories.week1 %}
    <li><span>{{ post.tags | array_to_sentence_string }}</span> &rarr; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>


<strong>Week 2</strong>

<p>
  Now that we know how to oragnize our data, we can get data from other sources and play with it. Testing API calls is hard, but you can do it!
</p>

<ul class="posts">
  {% for post in site.categories.week2 %}
    <li><span>{{ post.tags | array_to_sentence_string }}</span> &rarr; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
